.benefitsList {
  padding: 12px 0;
  background: #0074ae;
  color: #fff;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  line-height: 18px;
  margin: 20px 0;
  flex-wrap: wrap;
  gap: 10px;
}

.benefitItem {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "AvenirNextCyr", sans-serif;
  gap: 10px;
}

.benefitsBlock {
  padding: 12px 0;
  background: #0074ae;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  text-align: center;
  font-family: "AvenirNextCyr", sans-serif !important;
  font-size: 14px !important;
  line-height: 18px !important;
  font-weight: 400 !important;
  flex-wrap: wrap;
  gap: 10px;
}

.benefitsBlock img {
  margin-bottom: 10px;
}

.benefitsBlock .benefitItem {
  flex-direction: column;
  width: 150px;
}

.priceBlock {
  border: 1px solid #e6e6e6;
  margin: 20px 0;
}

.priceItem {
  float: left;
  padding: 20px 0 0;
  width: 50%;
  height: 90px;
  border-right: 1px solid #e6e6e6;
  text-align: center;
}

.text {
  margin: 0 0 5px;
  font-size: 16px;
  line-height: 14px;
}

.priceItem:nth-child(2) .value {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #000;
}

.priceItem:nth-child(1) .value {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: #898989;
  text-decoration: line-through;
}
